h1{
	color: blue
}
#menu {
	background: #d15673;
	text-align: center;
	padding: 80px;
	margin: 0;
}
nav {
	background: #6fb041;
	overflow: hidden;	
}
nav a{
	padding: 15px;
	text-decoration: none;
	display:block;
	text-align: center;
}
nav a.menu_left{
	float: left;
}
nav a.menu_right{
	float: right;
}
nav a:hover {
	background: #5e5242;
	color: black;
}
#left_side {
	flex 80%;
	background: #807d82;
	padding: 20px;
}
#right_side {
	flex 20%;
	background: #8a52ab;
	padding: 20px;
}
#flex_container {
	display: flex;
	flex-wrap: nowrap;
}
footer {
	padding: 10px;
	background: #1e285e;
	color: white;
}
footer a {
	color: white;
}
@media(max-width: 800px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
}
@media(max-width: 400px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
}